<p>
  <strong>Level:</strong>
  <%= @answer.level %>
</p>
 
<p>
  <strong>Value:</strong>
  <%= @answer.value %>
</p>

<p>
  <strong>Positive:</strong>
  <%= @answer.positive %>
</p>

<%= link_to 'Answers', answers_path %>