// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.base {
    text-align: center
}

.base form {
    margin-left: auto;
	margin-right: auto
}

.content {
	margin-bottom: 15px
}

.status {
	margin-bottom: 20px
}

.status img {
	margin-left: 5px;
	margin-right: 5px
}

.checkbox-container {
	text-align: left;
	width: 120px;
	margin-left: auto;
    margin-right: auto;
}